<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-4">
      <br>
      <br>
      <h1 class="h3 mb-3 font-weight-normal">Angular Reactive Forms</h1>
      <!-- <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p> -->
    </div>
  
    <div class="form-label-group"  >
      <input type="text"  formControlName="fullname"  id="username" class="form-control" placeholder="Email address" autofocus>
      <label for="fullname">fullname</label>
    </div>
  
    <div class="form-label-group">
      <input type="text" id="email" formControlName="email"  class="form-control" placeholder="Password" >
      <label for="email">Email</label>
    </div>
  
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    <!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p> -->
  </form>